.fialova {
	background-color: #530156;
	color: white;
}

.modra {
	background-color: #0008ee;
}

.azurova {
	background-color: #02fbfd;
}

.zelena {
	background-color: #4fff00;
}

.zluta {
	background-color: #fffc01;
}

.oranzova {
	background-color: #ff7f00;
}

.cervena {
	background-color: #e90101;
}

.vinova {
	background-color: #540000;
	color: white;
}


