body {
	font-family: Poppins;
	font-size: 14px;
	color: #414042;
	background-color: #F9F9F9;

}


article header {
	height: 100px;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	color: #00386B;
	width: max-content;
}


article h1 {
	font-size: 2.3em;
	font-weight: bold;
	text-transform: uppercase;
}


article h2 {
	font-size: 2em;
}


article section p {
	line-height: 1.8em;
}


article section a {
	color: #EF6534;
}


img {
	width: 300px;
}


#centrovac {
	margin: 0 auto;
	max-width: 960px;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

